
.sticky {
    background-color: #1b1a2ea9 !important;
    transition: all 0.3s ease-out 0s !important;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
    backdrop-filter: blur(15px) !important;
}

.navbar {
    position: fixed !important;
    transition: all 0.3s ease-out 0s !important;
    padding: 0.3rem 2rem !important;
    font-size: 1.2rem !important;
}

.navbar-toggler {
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.navbar-toggler span {
    display: block !important;
    background-color: #be50f4 !important;
    height: 4px !important;
    width: 27px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    transform: rotate(0deg) !important;
    left: 0 !important;
    opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out !important;
    transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(135deg) !important;
    opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px !important;
    visibility: hidden !important;
    background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(-135deg) !important;
    opacity: 0.9 !important;
}
.navbar-brand {
    color: #cd5ff8;
    font-size: 34px;
    font-weight: 600;
}
.navbar-brand:hover{
    text-shadow: 0 0 5px #cd5ff8;
    color: #c95bf5 !important;
}
@media (max-width: 767px) {
    .navbar {
        padding: 1rem !important;
        font-size: 1.4rem !important;
        background-color: #181a27 !important;
    }

    .navbar-nav .nav-item a::after {
        display: none !important;
    }
}
 
.logo {
    height: 1.4em !important;
    width: 2.5em !important;
}

.navbar-nav .nav-link {
    color: white !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.nav-link {
    padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
    .nav-link {
        padding: 0.7rem 1rem !important;
        font-size: 20px;
        text-align: center;
    }
    
}

.navbar-nav .nav-link {
    position: relative;
    margin-left: 20px;
}

a.nav-link {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
}

a.nav-link::after {
    content: "";
    position: relative;
    display: block;
    height: 3px;
    width: 0;
    border-radius: 16px;
    background: #c95bf5;
    bottom: -3px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
}
a.nav-link svg {
    padding: 0px 5px 5px 0;
    width: 30px;
    height: 20px;
}
a.nav-link:hover::after, a.active_menu.nav-link::after {
    width: 100%;
}

/* --------- */